.netLogo{
width: 120px;
margin-left: 20px;
margin-top: 20px;
}
.navbar-nav{
    margin-top: 20px;
    margin-left: 15px;
    font-weight: 700;
}
.avathar-logo{
    width: 20px;
    margin-right: 20px;
    margin-right: auto;
}