.banner-image{
    height: 400px;
}
.bannerStyl{
    /* margin-top: -70px; */
    width: 100%;
    height: 500px;
}
.banner{
    height: 500px;
    background-image:url('https://wallpaperaccess.com/full/2703652.png');
    color: #fff;
}